{% extends 'base.html' %}

{% load static %}
{% block meta %}
<link rel="stylesheet" href="{% static 'css/atlet.css' %}">
{% endblock meta %}

{% block content %}

{% include 'navbar_pelatih.html' %}

<div class="row" style="display: flex; flex-direction: column; align-items: center;">
    <div class="col" style="display: flex; flex-direction: column; align-items: center;">
        <div class="card my-4 shadow">
            <div class="card-body border-dark" style="width: 700px;">
                <div class="pb-3 pt-4 d-flex justify-content-center">
                    <p class="h2">DAFTAR ATLET</p>
                </div>

                <form method="POST" id="atletForm">
                    <div class="mb-3">
                        <label for="dropdownAtlet" class="form-label">Atlet yang mau didaftarkan: </label>
                        <select class="form-select" id="dropdownAtlet" name="dropdown2">
                            <option value="--Select Option--">--Select Option--</option>
                            {% for atlet in list_atlet %}
                                <option class="dropdown-item" data-atlet="{{ atlet.0 }}">{{ atlet.0 }}</option>
                            {% endfor %}
                        </select>
                    </div>  
                    

                    <div class="pb-3 pt-4 d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
{% endblock content %}
