{% extends 'base.html' %}
{% block meta %}
<title>Hello, world!</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
    /* styling for the table */
    table {
        width: 100%;
        border-collapse: collapse;
        border: 1px solid #ccc;
    }

    th, td {
        padding: 10px;
        text-align: center;
        border: 1px solid #ccc;
    }
    #centered-button {
			display: block;
            margin: 20px auto;

		}
    h1, h3 {
			text-align: center;
		}
    /* styling for responsive design */
    @media only screen and (max-width: 600px) {
        table, thead, tbody, th, td, tr {
            display: block;
        }

        th, td {
            text-align: center;
        }

        tr {
            border-bottom: 1px solid #ccc;
        }

        td:before {
            content: attr(data-label);
            float: left;
            font-weight: bold;
            text-transform: uppercase;
        }
    }
</style>
{% endblock meta %}
{% block content %}
{% include 'navbar_umpire.html' %}

<h1>PERTANDINGAN JUARA 3</h1>
<h3>[00:00]</h3>
<form method="post">
<table>
    <thead>
        <tr>
            <th>Tim 1</th>
            <th>Tim 2</th>
            <th>Skor Tim 1</th>
            <th>Skor Tim 2</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td data-label="Kolom 1">{{ pertandingan.0.2 }}</td>
            <td data-label="Kolom 2">{{ pertandingan.1.2 }}</td>
            <td data-label="Kolom 3"><div>
      <button id="decrement-1" onclick="decrement('1')">-</button>
      <input id='score-1' name='score-1' type=number min=0>
      <button id="increment-1" onclick="increment('1')">+</button>
    </div></td>
            <td data-label="Kolom 4"><div>
      <button id="decrement-2" onclick="decrement('2')">-</button>
      <input id='score-2' name='score-2' type=number min=0>
      <button id="increment-2" onclick="increment('2')">+</button>
    </div></td>
        </tr>
    </tbody>
</table>
<h1>PERTANDINGAN FINAL</h1>
<h3>[00:00]</h3>
<table>
    <thead>
        <tr>
            <th>Tim 1</th>
            <th>Tim 2</th>
            <th>Skor Tim 1</th>
            <th>Skor Tim 2</th>
        </tr>
    </thead>
    
    <tbody>
        <tr>
            <td data-label="Kolom 1">{{ pertandingan.0 }}</td>
            <td data-label="Kolom 2">{{ pertandingan.1 }}</td>
            <td data-label="Kolom 3"><div>
      <button id="decrement-3" onclick="decrement('3')">-</button>
      <input id='score-3' name='score-3' type=number min=0>
      <button id="increment-3" onclick="increment('3')">+</button>
    </div></td>
            <td data-label="Kolom 4"><div>
      <button id="decrement-4" onclick="decrement('4')">-</button>
      <input id='score-4' name='score-4' type=number min=0>
      <button id="increment-4" onclick="increment('4')">+</button>
    </div></td>
        </tr>
    </tbody>
</table>
<button id="centered-button" type="submit">Next</button>
</form>

<script>
    function increment(id) {
        document.getElementById('score-' + id).stepUp();
    }
    function decrement(id) {
        document.getElementById('score-' + id).stepDown();
    }
</script>
{% endblock content %}