{% extends 'base.html' %}

{% block meta %}

<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script> -->

{% endblock meta %}

{% block content %}

{% include 'navbar_umpire.html' %}

<div class="row" style="display: flex; flex-direction: column; align-items: center;">
    <div class="col" style="display: flex; flex-direction: column; align-items: center;">

        <div class="pb-3 pt-2 d-flex justify-content-center" style="display: flex; flex-direction: column; align-items: center;">
            <p class="h2" style="margin-top: 25px;">List Partai Kompetisi</p>
            <table class="table table-striped" style="margin-top: 15px;">
                <thead>
                  <tr>
                    <th scope="col" style="text-align: center">Nomor</th>
                    <th scope="col" style="text-align: center">Nama Event</th>
                    <th scope="col" style="text-align: center">Tahun</th>
                    <th scope="col" style="text-align: center">Stadium</th>
                    <th scope="col" style="text-align: center">Jenis Partai</th>
                    <th scope="col" style="text-align: center">Kategori Superseries</th>
                    <th scope="col" style="text-align: center">Tanggal Mulai</th>
                    <th scope="col" style="text-align: center">Tanggal Selesai</th>
                    <th scope="col" style="text-align: center">Kapasitas</th>
                    <th scope="col" style="text-align: center">Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for a in list_partai_kompetisi %}
                    <tr>
                      <td style="text-align: center">{{ forloop.counter }}</td>
                      <td style="text-align: center">{{ a.0 }}</td>
                      <td style="text-align: center">{{ a.1 }}</td>
                      <td style="text-align: center">{{ a.2 }}</td>
                      <td style="text-align: center">{{ a.3 }}</td>
                      <td style="text-align: center">{{ a.4 }}</td>
                      <td style="text-align: center">{{ a.5 }}</td>
                      <td style="text-align: center">{{ a.6 }}</td>
                      <td style="text-align: center">{{ a.7 }}</td>                   
                      <td style="text-align: center">
                        <a href="../umpire/mulai/{{ a.0 }}/{{ a.3 }}" class="font-medium text-blue-600 hover:underline">
                        <button type="button" class="btn btn-link" href="../umpire/mulai/{{ a.0 }}/{{ a.3 }}">Mulai</button></a>
                        <a href="../umpire/hasil_pertandingan/{{ a.0 }}/{{ a.3 }}" class="font-medium text-blue-600 hover:underline">
                        <button type="button" class="btn btn-link">Hasil Pertandingan</button></a>
                      </td>

                    </tr>
                  {% endfor %}
                </tbody>
              </table>
        </div>
  
       

        </div>
        </div>

    </div>
</div>

{% endblock content %}