{% extends 'base.html' %}

{% load static %}
{% block meta %}
<link rel="stylesheet" href="{% static 'css/atlet.css' %}">
{% endblock meta %}

{% block content %}
{% include 'navbar_atlet.html' %}


<div class="row" style="display: flex; flex-direction: column; align-items: center;">
    <div class="col" style="display: flex; flex-direction: column; align-items: center;">
        <div class="card my-4 shadow col-md-8 col-sm-12 col-xs-12">
            <div class="card-body border-dark">
                <div class="pb-3 pt-4 d-flex justify-content-center">
                    <p class="h2">Form Pemilihan Partai Kompetisi</p>
                </div>

                <p class="event-desc"><b>Event:</b> {{query.nama_event}}</p>
                <p class="event-desc"><b>Hadiah:</b> {{query.total_hadiah}}</p>
                <p class="event-desc"><b>Tanggal Mulai:</b> {{query.tgl_mulai}}</p>
                <p class="event-desc"><b>Tanggal Selesai:</b> {{query.tgl_selesai}}</p>
                <p class="event-desc"><b>Kategori:</b> {{query.kategori_superseries}}</p>
                <p class="event-desc"><b>Kapasitas:</b> {{query.kapasitas}} orang atau pasangan / partai </p>
                <p class="event-desc"><b>Stadium:</b> {{query.nama}}</p>
                <p class="event-desc"><b>Negara:</b> {{query.negara}}</p>

                <table class="table table-kategori">
                    <thead>
                    <tr>
                        <th scope="col">Kategori</th>
                        <th scope="col">Partner</th>
                        <th scope="col">Kapasitas</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <form method="post" id="formTunggal">
                        {% csrf_token %}
                        <tr>{% if jenis_kelamin.jenis_kelamin == True %}
                            <td>Tunggal Putra</td>
                            <input type="hidden" name="partai" value="TL">
                        {% elif jenis_kelamin.jenis_kelamin == False %}
                            <td>Tunggal Putri</td>
                            <input type="hidden" name="partai" value="TP">
                        {% endif %}
                        
                        <td>-</td>
                        <td><p>{{kapasitas_tunggal}}/{{query.kapasitas}}</p></td>
                        {% if query.kapasitas > kapasitas_tunggal %}
                            <td><button type="submit" class="btn btn-primary btn-block mb-12">Join</button></td>
                        {% endif %}
                        </tr>
                    </form>
                    
                    <form method="post" id="formGanda">
                        {% csrf_token %}
                        <tr>
                            {% if jenis_kelamin.jenis_kelamin == True %}
                                <td>Ganda Putra</td>
                                <input type="hidden" name="partai" value="GL">
                            {% elif jenis_kelamin.jenis_kelamin == False %}
                                <td>Ganda Putri</td>
                                <input type="hidden" name="partai" value="GP">
                            {% endif %}
                            <td>
                                <select class="form-select" name="dropdownGanda">
                                    {% for gq in ganda_query%}
                                        <option value="{{gq.id}}">{{gq.nama}}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td><p>{{kapasitas_ganda}}/{{query.kapasitas}}</p></td>
                            {% if query.kapasitas > kapasitas_ganda %}
                                <td><button type="submit" class="btn btn-primary btn-block mb-12">Join</button></td>
                            {% endif %}
                        </tr>
                    </form>

                    <form method="post" id="formGandaCampuran">
                        {% csrf_token %}
                        <tr>
                            <td>Ganda Campuran</td>
                            <input type="hidden" name="partai" value="GC">
                            <td>
                                <select class="form-select" name="dropdownGandaCampuran">
                                    {% for cq in campuran_query%}
                                        <option value="{{cq.id}}">{{cq.nama}}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td><p>{{kapasitas_campuran}}/{{query.kapasitas}}</p></td>
                            {% if query.kapasitas > kapasitas_campuran %}
                                <td><button type="submit" class="btn btn-primary btn-block mb-12">Join</button></td>
                            {% endif %}
                        </tr>
                    </form>
                    {% if message != "" %}
                    <div class="d-flex justify-content-center pb-0 mt-0 mb-2">
                        <p class="text-danger">{{message}}</p>
                    </div>
                    {% elif success != "" %}
                    <div class="d-flex justify-content-center pb-0 mt-0 mb-2">
                        <p class="text-success">{{success}}</p>
                    </div>
                    {% endif %} 
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock content %}