{% extends 'base.html' %}

{% load static %}
{% block meta %}
<link rel="stylesheet" href="{% static 'css/atlet.css' %}">
{% endblock meta %}

{% block content %}
{% include 'navbar_atlet.html' %}

<div class="row" style="display: flex; flex-direction: column; align-items: center;">
    <div class="col" style="display: flex; flex-direction: column; align-items: center;">
        <div class="card my-4 shadow col-md-8 col-sm-12 col-xs-12">
            <div class="card-body border-dark">
                <div class="pb-3 pt-4 d-flex justify-content-center">
                    <p class="h2">DAFTAR EVENT</p>
                </div>

                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Nama Event</th>
                        <th scope="col">Total Hadiah</th>
                        <th scope="col">Tanggal Mulai</th>
                        <th scope="col">Kategori</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for q in query%}
                    <tr>
                        <td>{{q.nama_event}}</td>
                        <td>{{q.total_hadiah}}</td>
                        <td>{{q.tgl_mulai}}</td>
                        <td>{{q.kategori_superseries}}</td>
                        <td><a href="../../{{q.nama_event}}/{{q.tgl_mulai.year}}/">Pilih</a></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
  </div>
</div>

{% endblock content %}