{% extends 'base.html' %}

{% block meta %}
<!-- comment biar dropdown jalan
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script> -->

<style>


</style>

{% endblock meta %}

{% block content %}

{% include 'navbar_atlet.html' %}
<div class="row" style="display: flex; flex-direction: column; align-items: center;">
    <div class="col" style="display: flex; flex-direction: column; align-items: center;">
  
        <div class="card my-4 shadow" style="display: flex; flex-direction: column; align-items: center;">
        <div class="card-body border-dark" style="width: 500px;">

        <div class="pb-3 pt-2 d-flex justify-content-center" style="display: flex; flex-direction: column; align-items: center;">
          <p class="h2">Profil Atlet</p>
        </div>
 
        <div class="pb-3 pt-2 d-flex justify-content-md-start" style="display: flex; flex-direction: column; align-items: center;">
            <p class=" pt-2"><strong>Nama lengkap: </strong>{{nama}}</p>
            <p class=" pt-2"><strong>Negara: </strong>{{negara}}</p>
            <p class=" pt-2"><strong>Email: </strong>{{email}}</p>
            <p class=" pt-2"><strong>Tanggal lahir: </strong>{{tgl_lahir}}</p>
            <p class=" pt-2"><strong>Play (Right/Left Hand): </strong>{{play}}</p>
            <p class=" pt-2"><strong>Tinggi badan: </strong>{{tinggi_badan}} cm</p>
            <p class=" pt-2"><strong>Pelatih: </strong>{{pelatih}}</p>
            <p class=" pt-2"><strong>Status: </strong>{{status}}</p>
            <p class=" pt-2"><strong>World rank: </strong>{{world_rank}}</p>
            <p class=" pt-2"><strong>Total Poin: </strong>{{total_poin}} </p>
        </div>
        </div>
        </div>

    </div>
</div>

{% endblock content %}